{% if true %}
<script src="https://giscus.app/client.js"
        data-repo="transTerminus/trans-digital-cn"
        data-repo-id="R_kgDOHD-S9w"
        data-category="Announcements"
        data-category-id="DIC_kwDOHD-S984Cjxgx"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
</script>
{% endif %}