[submodule ".github/scripts"]
	path = .github/scripts
	url = https://github.com/yunwei37/scripts
[submodule "webpage_archive"]
	path = webpage_archive
	url = https://github.com/transTerminus/webpage_archive
[submodule "news-website"]
	path = news-website
	url = https://github.com/transTerminus/news-website
[submodule ".github/downloader"]
	path = .github/downloader
	url = https://github.com/transTerminus/web_downloader
[submodule "文学作品和艺术创作/漫画"]
	path = 文学作品和艺术创作/漫画
	url = https://github.com/transTerminus/comic-archive
[submodule "文学作品和艺术创作/音频影像"]
	path = 文学作品和艺术创作/音频影像
	url = https://github.com/transTerminus/video-archive
