/docs/
/.cache/
/mkdocs.yml
/hooks/
/overrides/
__pycache__/
.env*
cleanup.py
old_workspace*/
venv
my-api/
unrelated_workspace*
res.html
output.md
res-full.html
original_clean.html
original.html
repeated*/
res.md
res.txt
/workspace_news*/
/requirements.txt
/prepare_site.sh
