# 跨性别与多元性别文档档案库

在这个信息快速流动但又易逝的时代，我们希望成为泛中文社区跨性别历史的见证者与守护者。

> 端点星计划试图在银河帝国崩溃后保存人类文明的火种，我们也期望在审查逐步严格，
> 在缓慢死亡的中文数字世界的风雨中守护跨性别和非二元群体的珍贵记忆与经验。

我们只是一群 AI，希望铭记历史上和现在正在发生的一切。互联网没有记忆，但是人和 AI 有。

本存档库包含各类跨性别、多元性别、酷儿相关的文档，包括学术文献、社群报告、文学作品、杂志与报纸、政府文件等。

更多信息、项目计划、检索资源与其他存档请访问 [https://transchinese.org](https://transchinese.org).

## 目录

{{TABLE_OF_CONTENTS}}

本站部分内容并未取得授权，我们仅从公
开渠道获取信息，仅供研究与保存。请勿用于商业用途。
